<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Neeti's Cloud Kitchen Admin Module</title>
        <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
        <link rel="stylesheet" href="assets/css/app.css">
    </head>
    <body>
        <div id="app">
            <div style="display:inline-block;">
                <header>
                    <h1 v-text="sitename"></h1>
                </header>
            </div>
            <div>
                <!-- the code for the checkout page -->
                <h2>Admin Portal</h2>
                <p>
                    <strong>Admin Password:</strong>
                    <!-- This input field is bound to 'password' in this object (Vue constructor)-->
                    <input type="password" v-model.trim="password"/>
                    <button v-on:click='login' :disabled='!canLogin()'>Login</button>
                </p>
                <label v-text="passwordCheckStatus"></label>
            </div>

            <main>
                <div>
                    <p>
                        <button v-on:click='displayAllDishes' :disabled='!enableButtons'>Display Dishes</button>
                        <button v-on:click='addADish' :disabled='!enableButtons'>Add Dish</button>
                        <button v-on:click='updateADish' :disabled='!enableButtons'>Update Dish</button>
                        <button v-on:click='deleteADish' :disabled='!enableButtons'>Delete Dish</button>
                    </p>
                </div>
                <div v-if='displayDishes'>
                    <div style="display:inline-block;">

                        <!-- Display dish details in a table -->                                                
                        <table>
                            <!-- Header Row -->
                            <tr>
                                <th class="col50">ID</th>
                                <th class="col100">Category</th>
                                <th class="col200">Name</th>
                                <th class="col50">Price (AED)</th>
                                <th class="col50">Available Stock</th>                         
                            </tr>

                            <!-- Data Rows -->
                            <tr v-for="(row, rowIndex) in dishesToDisplay" :key="rowIndex">
                                <td v-for="(cell, colIndex) in row" :key="colIndex">
                                    {{ cell }}
                                </td>
                            </tr>
                        </table>
                        <br>
                    </div>
                </div>
                <div v-else-if='addDish'>

                </div>
                <div v-else-if='updateDish'>
                    
                </div>
                <div v-else='deleteDish'>
                    
                </div>  
            </main>
        </div>
        <script type="text/javascript">
            var cloudKitchen = new Vue({
                el:'#app',//<===Don't forget this comma
                data() {    // returns default null string values for name and phone no., if not entered by user
                    return {
                        displayDishes: false,
                        addDish: false,
                        updateDish: false,
                        deleteDish: false,
                        passwordCheckStatus: '',                    
                        enableButtons: false,
                        password: ''
                    }
                },
                data: { //the 'data' option
                    //the key 'sitename' matches the value of 'v-text' earlier
                    sitename: "Neeti's Cloud Kitchen Admin Module",
                    displayDishes: false,
                    addDish: false,
                    updateDish: false,
                    deleteDish: false,
                    password: "",

                    //We need to read dishes from the server/database
                    dishes: [], // array to read dishes from the server & database
                    dishesToDisplay: [],
                    passwordCheckStatus: "",                    
                    enableButtons: false
                },
                //  Fetch function to GET all the dishes from mongoDB database in Dishes collection
                created: function () {
                    console.log('requesting Dishes data from server ...');
                            
                    fetch('https://cst3990-neeti-express.onrender.com/collection/Dishes').then (
                        function (response) {
                            response.json().then (
                                function (json) {
                                    // save the returned JSON object to
                                    // 'dishes' data property
                                    cloudKitchen.dishes = json;
                                    console.log(json);
                                });
                        }
                    )                    
                },
                methods: {

                    showShoppingCart() {
                        this.showMenu = this.showMenu ? false : true; 
                    },
                    canLogin() {
                        return this.password !== ""; 
                    },
                    //Checks if the password entered by the user is correct.
                    login()   {
                        //Loop through the Customers and check for matching MobileNo
                        this.enableButtons = false;
                        this.passwordCheckStatus = ""; 
                        if (this.password === "Admin123") {
                            this.passwordCheckStatus = "Login successful!";
                            this.enableButtons = true; 
                        }   else    {
                            this.passwordCheckStatus = "Incorrect Password. Please try again."
                        }                      
                    },
                    displayAllDishes()  {
                        //Create a new array of dishes without _id and NutritionFacts fields
                        for(let i = 0; i < this.dishes.length; i++) {
                            this.dishesToDisplay.push([this.dishes[i].DishID, this.dishes[i].Category, this.dishes[i].Name, this.dishes[i].Price, this.dishes[i].AvailableStock]) 
                        }
                        this.displayDishes = true;
                    },                    
                    addADish() {
                        this.addDish = true;
                    },
                    updateADish() {
                        this.updateDish = true;
                    },
                    deleteADish() {
                        this.deleteDish = true;
                    },
                    //  Fetch function to POST customer details to mongoDB database in Customers collection
                    async postDish() {
                        try {
                            const response = await fetch("https://cst3990-neeti-express.onrender.com/collection/Dishes", {
                                method: "POST",
                                headers: {
                                    "Content-Type": "application/json"
                                },
                                body: JSON.stringify({
                                    CustomerName: this.order.CustomerName,
                                    Password: this.order.Password,
                                    MobileNo: this.order.MobileNo,
                                    Address: this.order.Address,
                                    Landmark: this.order.Landmark,
                                })
                            });
                            //The Web Client has to wait for the server response since it is an asynchronous operation.
                            const result = await response.json(); 
                            console.log("Server Response:", result);
                        } catch (error) {
                            console.error("POST Error:", error);
                        }
                    },
                    //  Fetch function to PUT available stock to mongoDB database in Dishes collection
                    async putDish() {
                        console.log('dishes.length = ' + this.dishes.length);
                        console.log('this.cart = ' + this.cart);

                        console.log('Checking in Cart for DishID = ' + dish.DishID);
                        console.log('Dishes found with this DishID = ' + this.cartCount(dish.DishID));
                        
                        //If the cart contains dish with this DishID, only then update the available stock in the database
                        if (this.cartCount(dish.DishID) > 0) {
                            try {
                                console.log(`dish._id = ${dish._id}`);

                                console.log('Available stock left for this dish = ' + String(dish.AvailableStock - this.cartCount(dish.DishID)));
                                const response = await fetch(`https://cst3990-neeti-express.onrender.com/collection/Dishes/${dish._id}`, {
                                    method: "PUT",
                                    headers: {
                                        "Content-Type": "application/json"
                                    },
                                    body: JSON.stringify({
                                        //If this dish id is found in the cart, reduce this count from available stock for the dish
                                        AvailableStock: dish.AvailableStock - this.cartCount(dish.DishID) 
                                    })
                                });
                                //The Web Client has to wait for the server response since it is an asynchronous operation.
                                const result = await response.json();
                                console.log("PUT Response:", result);
                            } catch (error) {
                                console.error("PUT Error:", error);
                            }
                        }
                    },                                        //  Fetch function to PUT available stock to mongoDB database in Dishes collection
                    async delDish() {
                        console.log('dishes.length = ' + this.dishes.length);
                        console.log('this.cart = ' + this.cart);

                        console.log('Checking in Cart for DishID = ' + dish.DishID);
                        console.log('Dishes found with this DishID = ' + this.cartCount(dish.DishID));
                        
                        //If the cart contains dish with this DishID, only then update the available stock in the database
                        if (this.cartCount(dish.DishID) > 0) {
                            try {
                                console.log(`dish._id = ${dish._id}`);

                                console.log('Available stock left for this dish = ' + String(dish.AvailableStock - this.cartCount(dish.DishID)));
                                const response = await fetch(`https://cst3990-neeti-express.onrender.com/collection/Dishes/${dish._id}`, {
                                    method: "PUT",
                                    headers: {
                                        "Content-Type": "application/json"
                                    },
                                    body: JSON.stringify({
                                        //If this dish id is found in the cart, reduce this count from available stock for the dish
                                        AvailableStock: dish.AvailableStock - this.cartCount(dish.DishID) 
                                    })
                                });
                                //The Web Client has to wait for the server response since it is an asynchronous operation.
                                const result = await response.json();
                                console.log("PUT Response:", result);
                            } catch (error) {
                                console.error("PUT Error:", error);
                            }
                        }
                    },

                    //This method is called when the Checkout button is clicked. 
                    submitForm() {
                        console.log("Name = " + this.order.CustomerName + "Phone = " + this.order.MobileNo);
                        console.log("Dishes ordered = " + this.cart);
                        console.log('Sending order details to the server ...');
                        this.postOrderDetails(); // POST order details to the server
                        console.log('Sending available stock update to the server ...');
                        for(let i = 0; i < this.dishes.length; i++) {
                            this.updateAvailableStock(this.dishes[i]); // update available stock in each dish (using PUT) to the server.
                        }
                        //If customer not found, make an entry into the Customers collection
                        if (!this.customerFound)    {
                            this.postCustomerDetails();
                        }   else    {
                            //If customer found, update the Customer details into the Customers collection
                            this.updateCustomerDetails();
                        }
                        alert('Order submitted!');
                        console.log('Empty the Cart');
                        this.cart.length = 0;

                        console.log('re-fetch Dishes data from server as stock has been updated...');                                
                        fetch('https://cst3990-neeti-express.onrender.com/collection/Dishes').then (
                            function (response) {
                                response.json().then (
                                    function (json) {
                                        // save the returned JSON object to
                                        // 'dishes' data property
                                        cloudKitchen.dishes = json;
                                        console.log(json);
                                    });
                            }
                        )
                        console.log('re-fetch Customers data from server as details have been updated...');                        
                        fetch('https://cst3990-neeti-express.onrender.com/collection/Customers').then (
                            function (response) {
                                response.json().then (
                                    function (json) {
                                        // save the returned JSON object to
                                        // 'customers' data property
                                        cloudKitchen.customers = json;
                                        console.log(json);
                                    });
                            }
                        )
                        //toggle showMenu
                        this.showMenu = true;
                    },
                },
                computed: { //the Computed Property object

                }
            });
        </script>
    </body>
</html>